@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown {
  font: inherit;
  letter-spacing: inherit;
  color: currentColor;
  padding: 4px 0 5px;
  border: 2;
  box-sizing: content-box;
  background: none;
  height: 1.4375em;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  display: block;
  min-width: 0;
  width: 92%;
  -webkit-animation-name: mui-auto-fill-cancel;
  animation-name: mui-auto-fill-cancel;
  -webkit-animation-duration: 10ms;
  animation-duration: 10ms;
  padding: 16.5px 14px;
  border-radius: 5px;
  margin-top: 17px;
}
.bg-green-600 {
  background-color: rgb(22 163 74);
}
.text-white {
  color: #ffffff;
}

.bg-green-100 {
  background-color: rgb(220 252 231);
}
.bg-green-200 {
  background-color: rgb(187 247 208);
}
.custom-card {
  width: 60%;
  transition: transform;
  cursor: pointer;
  margin-top: 1rem;
  align-items: center;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-size: 1rem; /* Equivalent to text-md in Tailwind */
  color: #34d399; /* Equivalent to text-green-500 in Tailwind */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem; /* Equivalent to p-2 in Tailwind */
  background-color: #d1fae5; /* Equivalent to bg-green-100 in Tailwind */
  border-radius: 1rem; /* Equivalent to rounded-2xl in Tailwind */
}
.custom-card:hover {
  transform: scale(1.05);
}

/* Your styles.css (or any other CSS file) */

.absolute-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
  height: fit-content;
}

.absolute-container:hover {
  opacity: 1;
}

.upload-message {
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
  background-color: black;
  padding: 0.1rem;
  border-radius: 0.25rem;
}
.hidden {
  display: none;
}
