@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown {
  font: inherit;
  letter-spacing: inherit;
  color: currentColor;
  padding: 4px 0 5px;
  border: 2;
  box-sizing: content-box;
  background: none;
  height: 1.4375em;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  display: block;
  min-width: 0;
  width: 92%;
  -webkit-animation-name: mui-auto-fill-cancel;
  animation-name: mui-auto-fill-cancel;
  -webkit-animation-duration: 10ms;
  animation-duration: 10ms;
  padding: 16.5px 14px;
  border-radius: 5px;
  margin-top: 17px;
}
.bg-green-600 {
  background-color: rgb(22 163 74);
}
.text-white {
  color: #ffffff;
}
